{% extends 'demo/base.html' %}


{% block title %}预定宝盒{% endblock %}

{% block content %}
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h3 class="text-center">订阅长度?</h3>
        <div class="row spacer"></div>
        <div class="row">
          <div class="col-md-4">
            <a href="1/" class="thumbnail">
              <img src="/static/demo/images/box_1.png" alt="..." class="img-thumbnail">
              <div class="caption">
                <h4 class="text-center">1个月</h3>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="3/" class="thumbnail">
              <img src="/static/demo/images/box_3.png" alt="..." class="img-thumbnail">
              <div class="caption">
                <h4 class="text-center">3个月</h3>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="6/" class="thumbnail">
              <img src="/static/demo/images/box_6.png" alt="..." class="img-thumbnail">
              <div class="caption">
                <h4 class="text-center">6个月</h3>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div> <!-- /container -->
  </div>
{% endblock %}
