{% extends 'demo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    
{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
        <div class="col-md-8">
        	<h3>汪汪！派星宝盒将于<span style="font-size=15pt"><b>6月1号</b></span>开始第一次试运营啦。<br/><br>

          <h4>前五百订购的用户还可以获得惊喜的一元宝盒。</h3>
          <h4>我们将在6月15号统一发货，届时，您将收到一盒派星礼盒，其中包含三到四件根据您爱宠体型精心挑选的玩具，食品等。</h3>
			</div>
		<div class="col-md-4">
			<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRHw0Cr6__d3sHV2AMinC376l9tJcSWQzf3tGAtS-PqX9ksUKMWUg"></img>
		</div>
</div>

<div class="spacer"></div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
          <h2>宝盒订阅说明</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2>1.选择体型</h2>
            <p>选择毛宝贝的体型，我们会依照毛宝贝的体型来配出最适合牠的宝盒！ </p>
            <img src="/static/demo/images/instruction1.png" class="img-thumbnail">
          </div>
          <div class="col-md-4">
            <h2>2.选择订阅期 </h2>
            <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！</p>
            <img src="/static/demo/images/instruction2.png" class="img-thumbnail">
         </div>
          <div class="col-md-4">
            <h2>3.期待每月的惊喜</h2>
            <p>礼盒会在每月15号寄出！准备与狗宝贝一起迎接[派星宝盒]带来的互动新体验吧!</p>
            <img src="/static/demo/images/instruction3.png" class="img-thumbnail">
          </div>
        </div>

      </div> <!-- /container -->

<div class="spacer"></div>


{% endblock %}
