{% extends 'demo/base.html' %}


{% block title %}{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
  // $('.parallax-window').parallax({
  //   imageSrc: '/static/demo/images/DogBackground.png', 
  //   speed:0.7,
  // });
// document.getElementById('IntroBackground').style.backgroundImage =  'url(/static/demo/images/DogBackground.png)';
});
</script>

<style type="text/css">
  .parallax-window {
    background: url('../static/demo/images/DogBackground.png');
    background-position: 0% 43%;
  }


  .jumbotron {
    border-radius: 15px;
    color: white;
    background:transparent;
  }

  .title-text {
    text-shadow: #000029 0 5px 1px;
  }

  /*.col-md-4  {
    color: black;
  }*/

  .injumbotron {
    width: 90%;
  }

  #Intro {
     background-color: transparent;
  }

  #IntroBackground { 
    /*background: url('../static/demo/images/DogBackground_sm.png');*/
    background-size:cover;
  }

  .moneyCount {
    border-radius: 10%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 10px;
    /*letter-spacing: -px;*/
    background: rgba(200, 200, 200, 0.8);
    border: 1px solid #666;
    color: black;
    text-align: center;

    font: 24px Arial, sans-serif;
  }

body {
    padding-top: 0px;
}


</style>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="spacer"></div>

      <div class="jumbotron container">
        <div class="spacer"></div>
        <div class="container injumbotron">
          <div class="spacer"></div>
            <h1 class="text-center title-text"><b>给您的狗狗每月一个惊喜!</b></h1>
          <div class="spacer"></div>


          <p class="text-center"><a class="btn btn-primary-blue btn-lg" href="/subscribe/" role="button">一元试用&raquo;</a></p>
          <div class="row">
            <div class='col-md-4'>
              <!-- <h3 class="title-text">
                累计向宠物慈善组织捐助: 
              </h3>
              <h3>
                <span class="moneyCount">¥</span>
                <span class="moneyCount">1</span>
                <span class="moneyCount">2</span>
                <span class="moneyCount">3</span>
                .
                <span class="moneyCount">2</span>
                <span class="moneyCount">2</span>
              </h3> -->
            </div>
            <div class='col-md-4' >
                        
          <!-- <div class="progress">
            <span style="color:black">剩余416个一元礼盒</span>
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:18%">
              18%
            </div>
          </div> -->

            </div>
            <div class="col-md-4">

            </div>
          </div>

          <div class="spacer"></div>

        </div><!-- container -->
      </div><!-- jumbotron -->

    <!-- <div class="spacer"></div> -->

{% endblock %}

{% block extra_content %}

    <div class="backgroundWhite">
      <div class="container">
        <div class="spacer"></div>

        <div class="row">
          <div class="col-md-6">
            <img src="/static/demo/images/scroll.gif">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <img src="/static/demo/images/instruction1.png" style="height: 180px; width:150">
                <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！ </p>
              </div>
              <div class="col-md-6">
                <img src="/static/demo/images/instruction1.png" style="height: 180px; width:150">
                <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <img src="/static/demo/images/instruction1.png" style="height: 180px; width:150">
                <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！</p>
              </div>
              <div class="col-md-6">
                <img src="/static/demo/images/instruction1.png" style="height: 180px; width:150">
                <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！</p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="spacer"></div>


        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>宝盒订阅说明</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h2>1.选择体型</h2>
            <p>选择毛宝贝的体型，我们会依照毛宝贝的体型来配出最适合牠的宝盒！ </p>
            <img src="/static/demo/images/instruction1.png" class="img-thumbnail">
          </div>
          <div class="col-md-4">
            <h2>2.选择订阅期</h2>
            <p>我们提供了一个月、三个月与六个月的订购方案！完全免运费！可随时取消或续订！</p>
            <img src="/static/demo/images/instruction2.png" class="img-thumbnail">
         </div>
          <div class="col-md-4">
            <h2>3.期待每月的惊喜</h2>
            <p>礼盒会在每月15号寄出！准备与狗宝贝一起迎接[派星宝盒]带来的互动新体验吧!</p>
            <img src="/static/demo/images/instruction3.png" class="img-thumbnail">
          </div>
        </div>
        <div class="spacer"></div>

      </div> <!-- /container -->


      <hr>
      <div class="container">
        <wb:follow-button uid="5598604199" type="red_1" width="100" height="24" ></wb:follow-button>
          <img src="/static/demo/images/icons/weibo.svg" alt="weibo">
          <img src="/static/demo/images/icons/wechat.svg" alt="wechat">
          <img src="/static/demo/images/icons/instagram.svg" alt="instagram">
          <img src="/static/demo/images/icons/zhihu.svg" alt="zhihu">
      </div>
    </div> <!--white background-->

{% endblock %}
